<template>
  <div class="input-container">
    <label class="content-input-container">
      <slot name="text-input-container"/>
    </label>
    <div :class="`${inputContainer[inputTypeContainer]} ${borderInput[borderTypeInput]}`">
      <slot class="left-input" name="left-icon-input"/>
      <input
        v-model.trim="modelValue"
        :class="`${defaultStyle}
                ${inputDiv[inputTypeDiv]}`"
      />
      <slot class="left-input" name="right-icon-input"/>
    </div>
  </div>
</template>
<script setup lang='ts'>
import { useVModel } from '@vueuse/core'

const props = defineProps({
  modelValue:{
    type: [String,Number],
    default: ''
  },
  inputTypeContainer:{
    type: String,
    default: '',
  },
  borderTypeInput:{
    type: String,
    default: '',
  },
  inputTypeDiv:{
    type: [String, Number],
    default: 1,
  },
})

const emit = defineEmits(['update:modelValue'])
const modelValue = useVModel(props, "modelValue", emit);

const defaultStyle = `tw-block tw-border tw-outline-none tw-transition-color tw-duration-300  tw-text-white-smoke`
const inputContainer = {
  login: 'inputLoginStyle',
}
const borderInput = {
  login: 'borderLogin',
}
const inputDiv = {
  login: 'inputDivLogin'
}

</script>

<style lang='scss'>
input{
  width: 100%;
  height: 100%;
  outline: none;
  border: none;
}
.inputLoginStyle{
  width: 360px;
  height: 38.44px;
  display: flex;
  align-items: center;
  padding: 10px 24px;
  background-color: #ffff;
}
.borderLogin{
  border: 1px solid #D4D4D4;
  border-radius: 10px;
}
.inputDivLogin{
  padding-right: 16px;
  padding-left: 16px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: red;
}
</style>
