<template>
  <h1 class='tw-text-green-400'>Page Index</h1>
  <lq-input input-type-container='login' border-type-input='login' input-type-div='login'></lq-input>
</template>
<script setup lang='ts'>

</script>
<style scoped>

</style>

